<a class="menu-toggle rounded" href="{{ site.url }}">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
<!--             <a class="js-scroll-trigger" href="#page-top">Content</a> -->
              Content
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="index.html">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="about.html">About</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="projects.html">Projects</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="experiences.html">Experiences</a>
        </li>
    </ul>
</nav>
